.container {
    display: flex;
    flex-direction: row;
    background-color: black;
    cursor: pointer;
    transition: transform 250ms ease-in;
    box-shadow: 2px 2px 8px 0px gray;
    min-width: 100px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.container:hover {
    transform: scale(1.01);
}

.text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
}

.title {
    font-weight: bold;
    flex-wrap: wrap;
}

.description {
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

.image {
    width: 320px;
    height: 180px;
    flex-wrap: unwrap;
    align-items: center;
}
