.container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    height: auto;
}

.title {
    font-weight: bold;
    flex-wrap: wrap;
}

.description {
    margin-top: 0.5rem;
    flex-wrap: wrap;
    text-align: justify;
}

.image {
    width: 160px;
    height: auto;
}
