:root {
    --navbar-width: 100vw;
    --navbar-height: 50px;
    --navbar-min-width: 600px;
    --navbar-font-size: 32px;
    --navbar-padding: 5px;

    --navbar-title-container-width: 140px;
    --navbar-title-container-height: 40px;

    --navbar-title-icon-size: 35px;
    --navbar-title-icon-padding: 5px;
    --navbar-title-text-size: 20px;

    --navbar-search-container-width: 70vw;
    --navbar-search-container-min-width: 300px;
    --navbar-search-container-height: var(--navbar-title-container-height);
    --navbar-search-container-width-margin: 5vw;

    --navbar-input-width-size: 90%;
    --navbar-input-height-size: 40px;
    --navbar-input-left-padding: 5px;
    --navbar--input-font-size: 20px;

    --navbar-search-icon-size: 29px;
    --navbar-search-icon-padding: 5px;
    --navbar-search-text-size: 20px;

    --small-padding: 1rem;
    --middle-padding: 2rem;
    --large-padding: 2.5rem;
    --font-size: 1.5rem;
    --font-input-size: 2vw;
    --input-width-size: 50%;
    --input-height-size: 80%;
    --icon-width-size: 10vw;
    --icon-height-size: 4vh;
    --search-icon-size: 2.5rem;
}

.navbar {
    font-size: var(--navbar-font-size);
    padding: var(--navbar-padding);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--navbar-width);
    height: var(--navbar-height);
    min-width: var(--navbar-min-width);
}

.title_container {
    width: var(--navbar-title-container-width);
    height: var(--navbar-title-container-height);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.icon {
    font-size: var(--navbar-title-icon-size);
    padding: var(--navbar-title-icon-padding);
}

.title {
    font-size: var(--navbar-title-text-size);
}

.search_container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: var(--navbar-search-container-width);
    height: var(--navbar-search-container-height);
    min-width: var(--navbar-search-container-min-width);
    margin: 0 var(--navbar-search-container-width-margin);
}

.input {
    width: var(--navbar-input-width-size);
    height: var(--navbar-input-height-size);
    font-size: var(navbar--input-font-size);
    padding-left: var(--navbar-input-left-padding);
}

.search {
    font-size: var(--navbar-search-icon-size);
    padding: var(--navbar-search-icon-padding);
}
