.videoplayer {
    width: 100%;
    height: 100%;
}
#videoplayer_container {
    width: 100%;
    height: 100%;
}

/* @media (max-width: 700px) {
    .videoplayer {
        width: 100%;
        height: 100%;
    }
    #videoplayer_container {
        width: 100%;
        height: 100%;
    }
} */
