.container {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    /* grid-template-columns: 50% 50%; */
    /* gap: 1em 1em;
    margin: 0 1.5em;
    justify-content: space-around; */
}

.content {
    justify-content: space-around;
    align-items: space-around;
}
