* {
    padding: 0;
    margin: 0;
}

.spinner {
    width: 80px;
    margin: auto;
    position: fixed;
    bottom: 50%;
    right: 50%;
}

#main_container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    flex-wrap: nowrap;
}

#navbar {
    box-sizing: border-box;
    flex: 0 0 auto;
}

#content_container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#video_player {
    box-sizing: border-box;
    flex: 0 0 20%;
    background-color: blue;
}

#item_container {
    flex: 1 1 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    list-style: none;
    box-sizing: border-box;
    align-content: stretch;
    flex-wrap: wrap;
}

#youtube_item {
    box-sizing: border-box;
    box-shadow: 2px 2px 8px 0px gray;
    background-color: black;
    flex: 1 1 50%;
    transition: transform 250ms ease-in;
    display: flex;
    align-items: center;
}

#youtube_item:hover {
    transform: scale(1.01);
}

/* @media (max-width: 700px) {
    #content_container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #video_player {
        box-sizing: border-box;
        flex: 1 1 40%;
        background-color: blue;
    }

    #item_container {
        flex: 1 1 60%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        list-style: none;
        box-sizing: border-box;
        align-content: stretch;
        flex-wrap: wrap;
    }

    #youtube_item {
        box-sizing: border-box;
        box-shadow: 2px 2px 8px 0px gray;
        background-color: black;
        flex: 1 1 50%;
        transition: transform 250ms ease-in;
        display: flex;
        align-items: center;
    }

    #youtube_item:hover {
        transform: scale(1.01);
    }
} */
